* text=auto eol=lf
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.webp binary
*.zip binary

/.github export-ignore
/tests export-ignore
/scripts export-ignore
/.gitattributes export-ignore
/.gitignore export-ignore
/CONTRIBUTING.md export-ignore
/README.md export-ignore
/SECURITY.md export-ignore

